Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
# 1.

import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# 2.

# Creating a list with 10 elements
data_list = [5, 12, 7, 9, 1, 3, 16, 10, 14, 6]

# Creating a Pandas Series from the list
series_from_list = pd.Series(data_list)

# Printing the Series
print(series_from_list)

0     5
1    12
2     7
3     9
4     1
5     3
6    16
7    10
8    14
9     6
dtype: int64

In [3]:
# 3.

# Creating a DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 24, 22, 26],
    'Gender': ['M', 'F', 'M', 'F']
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

    Name  Age Gender
0   John   28      M
1  Alice   24      F
2    Bob   22      M
3  Diana   26      F

# 4.

Q4: What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.
DataFrame: A DataFrame is a 2-dimensional labeled data structure in pandas. It can be thought of as an in-memory database table, where data is organized into rows and columns. It can hold data of different types (integer, float, string, etc.) in each column.

Series: A Series is a 1-dimensional labeled array in pandas. It can hold data of any type (integer, float, string, etc.), and it has an index that labels each element.

Difference:

A Series is like a single column in a DataFrame.
A DataFrame is like a table with rows and columns (multiple Series).

In [4]:
# Creating a Series
series_example = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])

# Creating a DataFrame
data = {'Column1': [1, 2, 3, 4], 'Column2': [5, 6, 7, 8]}
df_example = pd.DataFrame(data)

print("Series Example:")
print(series_example)
print("\nDataFrame Example:")
print(df_example)

Series Example:
A    10
B    20
C    30
D    40
dtype: int64

DataFrame Example:
   Column1  Column2
0        1        5
1        2        6
2        3        7
3        4        8

# 5.

Some common functions for manipulating data in a DataFrame include:

1. head(): Returns the first N rows.
2. tail(): Returns the last N rows.
3. drop(): Drops specified labels from rows or columns.
4. groupby(): Groups data using a mapper or by a Series of columns.
5. sort_values(): Sorts the DataFrame by the specified column(s).

In [5]:
# Creating a DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 24, 22, 26],
    'Salary': [50000, 55000, 48000, 60000]
}
df = pd.DataFrame(data)

# Sorting the DataFrame by Age
sorted_df = df.sort_values(by='Age')

print("Sorted DataFrame by Age:")
print(sorted_df)

Sorted DataFrame by Age:
    Name  Age  Salary
2    Bob   22   48000
1  Alice   24   55000
3  Diana   26   60000
0   John   28   50000

# 6.

Mutable means that the object can be changed after creation.
Answer:

Series and DataFrame are mutable.
Panel (which has been deprecated in recent versions of pandas) was also mutable, but it is no longer commonly used in current pandas versions.

In [6]:
# 7. 

# Creating multiple Series
series1 = pd.Series([1, 2, 3], name="A")
series2 = pd.Series([4, 5, 6], name="B")
series3 = pd.Series([7, 8, 9], name="C")

# Creating a DataFrame from Series
df_from_series = pd.DataFrame({'A': series1, 'B': series2, 'C': series3})

# Printing the DataFrame
print(df_from_series)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9